*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* stile colonne */

[class*="col-"]{
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  height: 20%;
  background-color: pink;
  border: 1px solid black;
}

.bottom{
  background-color: red;
  border: 2px solid white;
}
.col-6.container{
  padding: 5px;
}

/* bonus */
.bonus{
  margin-top: 20px;
}
